Header {
    background-color: #222;
}

.top {
    display: flex;
}

.top img {
    margin: 5px;
    height: 50px;
    width: 50px;
}

Header h1 {
    margin: 0;
    padding: 15px;
    color: #F0F0F0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.LoadData {
    margin: 10px;
}


.maxfile,
form {
    margin: 10px;
    background-color: #f3f3f3;
}

.file-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.max-edit {
    width: 240px;
}

.file-name,
.maxfile p,
.plugins,
.savesTitle {
    margin-left: 5px;
}

.file-name {
    margin: 0;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form 
    input, 
    textarea, 
    button {
        margin: 10px;
    }

.max-edit input, 
.max-edit textarea {
    border: none;
    background-color: #f3f3f3;
}